[submodule "client/diceparser"]
	path = client/diceparser
	url = https://github.com/Gissu/DiceParser.git
	pushURL = git@github.com:Gissu/DiceParser.git
[submodule "client/widgets/gmtoolbox"]
	path = client/widgets/gmtoolbox
	url = https://github.com/Gissu/RPlugins.git
	pushURL = git@github.com:Gissu/RPlugins.git
[submodule "client/charactersheet"]
	path = client/charactersheet
	url = https://github.com/Gissu/RCharacterSheet.git
	pushURL = git@github.com:Gissu/RCharacterSheet.git
